{% extends 'includes\blocksnews.html'%}

{% block content %}
{% load staticfiles %}
<div id="fh5co-intro-section">
    <div class="container">
        <div class="row" style="border-bottom: sandybrown;border-bottom-style:double;">
            <div class="col-lg-4" id="cali">
                <img src="{% static 'images\cali.jpg'%}" class="img-responsive" alt="cali">
            </div>
            <div class="col-lg-8">
                <h3>Old Railroad Set to Become a 300-mile Hiking Trail Through California Wine Country</h3>
                <p>Seeing the best of California’s North Coast is about to get easier and better than ever.

                    According to SFGate, a proposed bill could transform parts of the increasingly abandoned Northwestern Pacific Railroad into a scenic hiking trail.
                    
                    The 300-mile-long trail, named the Great Redwood Trail, would stretch from San Francisco Bay to Humboldt Bay, cutting through Eel River Canyon. Part of the railroad is still in service, however, so areas of the trail will be parallel to the tracks rather than directly on top of them, SFGate reported.</p>
            </div>
        </div>
        <div class="row" style="border-bottom: sandybrown;border-bottom-style:double;">
            <div class="col-lg-4" id="amadeus">
                <img src="{% static 'images\AMADESUS.jpg'%}" class="img-responsive" alt="cali">
            </div>
            <div class="col-lg-8">
                <h3>39% of Indians plan travel during weekends: Amadeus</h3>
                <p>About 39 per cent of Indians do most of their travel planning during weekends, which is higher than the regional average of 32 per cent, according to Amadeus’ Journey of Me Insights report. This is followed by other options like 24 per cent during holidays, 17 per cent after work on weekdays and 13 per cent while at work . Only 7 per cent of respondents plan their travel while commuting from one place to another, the report said.</p>
            </div>
        </div>
        <div class="row" style="border-bottom: sandybrown;border-bottom-style:double; ">
            <div class="col-lg-4" id="airline">
                <img src="{% static 'images\american_airline.jpg'%}" class="img-responsive" alt="cali">
            </div>
            <div class="col-lg-8">
                <h3>American Airlines Announces Checked Baggage Price Increases</h3>
                <p>American officials specified that certain customers will still be eligible for free checked bags, including AAdvantage members; Citi/AAdvantage cardmembers; customers confirmed in the first or business class cabin; customers traveling on military fares and more.

                    The airline’s official website has more details on free checked bag eligibility.
                    
                    Friday’s price increase for checked bags marks the first time the carrier has made a change of this magnitude since 2010 and follows similar fee hikes made by other airlines over the last month.
                    
                    Other carriers such as Delta and United recently announced they would be increasing the prices for checked bags, with Delta charging $30 for the first bag and $40 for the second.
                    
                    United’s prices also jumped to $30 for the first bag and $40 for the second.</p>
            </div>
        </div>
        <div class="row" style="border-bottom: sandybrown;border-bottom-style:double; ">
            <div class="col-lg-4" id="wttc">
                <img src="{% static 'images\WTTC.jpg'%}" class="img-responsive" alt="cali">
            </div>
            <div class="col-lg-8">
                <h3>8.8 per cent growth expected in visitor exports to India in 2018: WTTC</h3>
                <p>announced Thursday it was raising prices for the first and second checked bags for passengers by $5 each.

                    The changes went into effect on flights tickets purchased Friday.
                    
                    For travelers flying with American, the first checked bag will now cost $30 and the second will cost $40. The price increases apply to travel in the United States and other North American and Caribbean destinations.</p>
            </div>
        </div>
        <div class="row" style="border-bottom: sandybrown;border-bottom-style:double; ">
            <div class="col-lg-4" id="greatbarrier">
                <img src="{% static 'images\great_barrier.jpeg'%}" class="img-responsive" alt="cali">
            </div>
            <div class="col-lg-8">
                <h3>Tourists Warned to Stop Swimming Near Great Barrier Reef</h3>
                <p>Tourists heading to the Great Barrier Reef in Australia are being warned to stay out of the water following shark attacks on consecutive days this week.

                    According to The Associated Press, the warning was issued for the popular Whitsunday Islands after a 46-year-old woman was attacked by a shark Wednesday and a 12-year-old girl was bitten Thursday while swimming.
                    
                    Both victims were transported to Brisbane hospitals with leg wounds, and they are in critical but stable condition. It is possible that there's more than one shark involved in these unfortunate events," Fisheries Queensland manager Jeff Krause said. “We don't normally go out and search for any sharks that may have been involved in a shark attack, but due to the nature of these multiple attacks, Fisheries Queensland is going to deploy three drum lines in a bid to try and catch some of the sharks in that area.”

                    The company that managed the yachts the victims were swimming near, Queensland Yacht Charter, was told that visitors were being advised to not enter the water near the Whitsunday Islands for the foreseeable future.
                    
                    Bond University shark attack expert Daryl McPhee said the Great Barrier Reef has a higher population of sharks than other areas, but the likelihood of a shark attack is still slim. The islands attract whaler, bull and tiger sharks.</p>
            </div>
        </div>
        <div class="row" style="border-bottom: sandybrown;border-bottom-style:double; ">
            <div class="col-lg-4" id="cruise">
                <img src="{% static 'images\cruise.jpeg'%}" class="img-responsive" alt="cali">
            </div>
            <div class="col-lg-8">
                <h3>Cruise Execs Give Glowing Caribbean Update</h3>
                <p>One year on from Hurricane Maria, and the Caribbean is better than ever. At least, that’s the pitch made by cruise executives during a media call this afternoon.

                    On the call were Arnold Donald, CEO of Carnival Corporation and global chair for the Cruise Lines International Association (CLIA); Adam Goldstein, vice chairman of Royal Caribbean Cruises Ltd. and chairman of the Florida-Caribbean Cruise Association (FCCA) as well as Michele Paige, president of the FCCA. Paige opened the session, lauding the people, culture and overall resilience of the Caribbean.

                    “After a small section of the region witnessed a historic hurricane season last year, there’s been an equally historic recovery. That’s because of people’s willingness to work 18-hour days to restore utilities to potential guests,” said Paige.
                    
                    She added that the Caribbean’s greatest resource is its people.
                    
                    “They’re the ones who create the experience by establishing authentic and engaging tours. They’re the ones making it possible for guests to have a worry-free day. They are the reason that ten million passengers this year alone will receive a great vacation in the Caribbean,” said Paige.
                    
                    Goldstein and Donald both re-emphasized a point they’ve made continually since last year.
                    
                    “The vast majority of Caribbean destinations were not affected at all by the storms,” said Goldstein.
                    
                    From a deployment standpoint, every port is in operation. Affected ports are back to business as usual, with the exception of one of two berths in St. Croix. Tour capacity is almost back to normal. In fact, several destinations have launched new programming, said Goldstein.</p>
            </div>
        </div>
        <div class="row" style="border-bottom: sandybrown;border-bottom-style:double; ">
            <div class="col-lg-4" id="canada">
                <img src="{% static 'images\fly_to_canada.jpg'%}" class="img-responsive" alt="cali">
            </div>
            <div class="col-lg-8">
                <h3>Here's Why You Should Fly to Canada This Winter</h3>
                <p>Winter is an ideal time to visit Canada, especially for adventure lovers. It may be snowing outside, but that doesn’t keep anyone inside. There are many opportunities to explore the great outdoors weather by snowshoe, on skis, under the power of dogs or climbing a wall of ice—and Air Canada is just the airline to get intrepid winter wanderers to the adventure of choice. On the Slopes

                    One of the most popular activities for winter travelers is skiing and the former home of the 2010 Winter Olympic Games, Whistler Blackcomb, is one of the best places to undertake the sport. It is one of the largest ski resorts in North America and visitors will find a host of accommodation options from luxury hotels to cozy condos, as well as a range of activities that include skiing, heliskiing, bobsledding and more, there’s enough to keep travelers busy all winter long.
                    
                    Fly with Air Canada from cities around the U.S. to Vancouver where it’s an easy drive up the Sea to Sky highway to connect to Whistler.</p>
            </div>
        </div>
        <div class="row" style="border-bottom: sandybrown;border-bottom-style:double; ">
            <div class="col-lg-4" id="venicenews">
                <img src="{% static 'images\news_of_venice.jpeg'%}" class="img-responsive" alt="cali">
            </div>
            <div class="col-lg-8">
                <h3>Will Venice Implement Fines for Sitting in Restricted Areas?</h3>
                <p>Tourists visiting Venice could soon face fines up to €500 for sitting in restricted areas as part of widespread changes proposed by the local government to deal with overtourism.

                    According to Sky News, Venice Mayor Luigi Brugnaro pitched several different ideas to control the impact of tourism, including no pausing on bridges, no swimming in the canals, no bike riding, no feeding birds and no placing love locks on monuments or bridges. The aim is to create more of a deterrent to people who think they can come to the city of Venice and do what they want, not respecting the city, urban decorum and public safety,” Mayor Brugnaro told Sky News.

                    In addition, the proposal also includes bans on laying down on benches, climbing trees, busking, painting and all large cruise ships, which will be no longer be allowed to dock in the city by 2021.
                    
                    Violations could result in fines between €25 and €500.
                    
                    “The message we have to get through is that we're not joking,” tourism councilor Paola Mar said in a statement. “If it gets around that people who do this kind of thing are fined, as well as it being flagged to their respective embassies, perhaps we'll be able to stop others copying.”
                    
                    City officials launched the #EnjoyRespectVenezia campaign in the summer of 2017 that welcomes tourists, but warns them to follow the rules. In April, authorities installed temporary gates
                    
                    Venice isn’t the only Italian city making changes due to overtourism, as officials in Florence have instituted fines of €500 for travelers caught eating on the streets in the city’s historic center.</p>
            </div>
        </div>
        <div class="row" style="border-bottom: sandybrown;border-bottom-style:double; ">
            <div class="col-lg-4" id="belize">
                <img src="{% static 'images\belize.jpg'%}" class="img-responsive" alt="cali">
            </div>
            <div class="col-lg-8">
                <h3>All Eyes on Belize: The Tiny Country Hits Double-Digit Tourism Growth</h3>
                <p>For decades, Belize has remained a mostly quaint, laid-back destination viewed by many travelers as an alluring alternative to some of the Caribbean’s more upscale and fully developed tourist stops.

                    For those who prefer flip-flops as their go-to footwear, and the opportunity participate serious diving (a la the Great Blue Hole and the Belize Barrier Reef), low-key Belize has been the go-to destination for decades.
                    
                    “As the rest of the Caribbean was growing up, we were still a fishing village,” developer Andrew Ashcroft, whose family has lived in Belize for three generations, told TravelPulse during a recent interview.
                    
                    And while the charm that keeps the tourists coming is not changing, what is changing is the numbers of tourists who have discovered Belize and who are spending time there.
                    
                    For the past three consecutive years, Belize has registered double-digit increases in its tourism arrivals. In 2016, the tiny nation had 34,268 overnight visitors, which was a 17 percent increase over the prior year. In 2017, the growth continued, with 37,690 visitors and to date in 2018, there have been 43,389 visitors.
                    
                    “That growth rate, bar none, is probably the fastest growth rate for a small island destination,” continued Ashcroft. “People who have already been to the Bahamas and been to the Dominican Republic are discovering this quirky place.”
                    
                    Those who know the country best predict that this strong momentum is going to continue for years to come.
                    
                    So, what’s caused travelers everywhere to suddenly start flocking to Belize? By Ashcroft’s estimation, a variety of factors are coming into play to put the small country center stage right now.
                    
                    To begin with, the destination is home to endless adventure, including several preserved Mayan Temples, tranquil Caribbean beaches, and the second largest barrier reef in the world.</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}